<form [formGroup]="rForm" (submit)="submit()">
  <mat-form-field>
    <mat-label>Centro educativo</mat-label>
    <mat-select [compareWith]="compareInstitution" formControlName="institution">
      <mat-option [value]="institution" *ngFor="let institution of institutions">
        {{ institution.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Familia profesional</mat-label>
    <mat-select [compareWith]="compareCategory" formControlName="category">
      <mat-option [value]="category" *ngFor="let category of categories">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nivel</mat-label>
    <mat-select [compareWith]="compareGrade" formControlName="grade">
      <mat-option [value]="grade" *ngFor="let grade of grades">
        {{ grade.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>T&iacute;tulo</mat-label>
    <mat-select [compareWith]="compareTitle" formControlName="title">
      <mat-option [value]="title" *ngFor="let title of titles">
        {{ title.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Fecha de obtención del t&iacute;tulo *"
      id="date"
      formControlName="date"
    />
    <mat-error *ngIf="rForm.controls.date.errors">
      Corrige el error en Fecha de obtención del t&iacute;tulo
    </mat-error>
  </mat-form-field>

  <mat-checkbox formControlName="bilingue">Bilingüe</mat-checkbox>
  <mat-checkbox formControlName="dual">Dual</mat-checkbox>

  <div fxLayout="row wrap">
    <div fxFlex fxLayoutAlign="center center">
      <button type="submit" mat-raised-button color="primary" [disabled]="rForm.invalid"><mat-icon>save</mat-icon>Guardar</button>
    </div>
  </div>
</form>
