<div class="form-wrapper" fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Cumple con la Titulaci&oacute;n (Familia)</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-table [dataSource]="offersStudy" class="mat-elevation-z8">
          <ng-container matColumnDef="job">
            <mat-header-cell fxFlex="15%" *matHeaderCellDef> Puesto </mat-header-cell>
            <mat-cell fxFlex="15%" *matCellDef="let offer"> {{offer.job.name}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="company">
            <mat-header-cell fxFlex="15%" *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell fxFlex="15%" *matCellDef="let offer"> {{offer.company.name}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="category">
            <mat-header-cell fxFlex="28%" *matHeaderCellDef> Familia </mat-header-cell>
            <mat-cell fxFlex="28%" *matCellDef="let offer"> {{offer.category.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell fxFlex="10%" fxLayoutAlign="center center" *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell fxFlex="10%" fxLayoutAlign="center center" *matCellDef="let offer"> {{offer.date}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="province">
            <mat-header-cell fxFlex="10%" *matHeaderCellDef> Provincia </mat-header-cell>
            <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.province.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="municipe">
              <mat-header-cell fxFlex="10%" *matHeaderCellDef> Municipio </mat-header-cell>
              <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.municipe.name}} </mat-cell>
            </ng-container>

          <ng-container matColumnDef="subscribe">
            <mat-header-cell fxFlex="5%" fxLayoutAlign="center center" *matHeaderCellDef> Inscrito </mat-header-cell>
            <mat-cell fxFlex="5%" fxLayoutAlign="center center" *matCellDef="let offer"> {{offer.subscribe ? 'Sí' : 'No'}} </mat-cell>
          </ng-container>
          
          <ng-container matColumnDef="actions">
            <mat-header-cell fxFlex="7%" *matHeaderCellDef></mat-header-cell>
            <mat-cell fxFlex="7%" fxLayoutAlign="end center" *matCellDef="let offer">
              <a style="cursor:pointer" [routerLink]="[offer.id]">
                <mat-icon>visibility</mat-icon>
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedOffersColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedOffersColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Otras Ofertas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-table [dataSource]="offersOther" class="mat-elevation-z8">
          
          <ng-container matColumnDef="job">
            <mat-header-cell fxFlex="15%" *matHeaderCellDef> Puesto </mat-header-cell>
            <mat-cell fxFlex="15%" *matCellDef="let offer"> {{offer.job.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="company">
            <mat-header-cell fxFlex="15%" *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell fxFlex="15%" *matCellDef="let offer"> {{offer.company.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="category">
            <mat-header-cell fxFlex="40%" *matHeaderCellDef> Familia </mat-header-cell>
            <mat-cell fxFlex="40%" *matCellDef="let offer"> {{offer.category.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date">
            <mat-header-cell fxFlex="10%" fxLayoutAlign="center center" *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell fxFlex="10%" fxLayoutAlign="center center" *matCellDef="let offer"> {{offer.date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="province">
            <mat-header-cell fxFlex="10%" *matHeaderCellDef> Provincia </mat-header-cell>
            <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.province.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="municipe">
            <mat-header-cell fxFlex="10%" *matHeaderCellDef> Municipio </mat-header-cell>
            <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.municipe.name}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedOtherColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedOtherColumns;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
