<div class="profile-wrapper" fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Datos personales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <form [formGroup]="rForm" (submit)="save()">
          <div fxLayout="row">
            <div fxFlex fxLayout="column" fxFlex="30%" fxLayoutAlign="center" class="student-avatar">
              <div *ngIf="user" id="contenido" fxFlex fxLayout="row wrap" fxLayoutAlign="center">
                <div fxFlex fxLayout="row" fxLayoutAlign="center" class="student-avatar">
                  <img
                    class="student-avatar"
                    src="{{ user.avatar_hash }}"
                  />
                </div>
                <div fxFlex fxLayout="row wrap" fxLayoutAlign="center" class="student-avatar">
                  {{ user.email }}
                </div>
              </div>
            </div>
            <div fxFlex fxLayout="column" fxFlex="35%" fxLayoutAlign="center start">
              <!--<mat-form-field>
                <input
                  matInput
                  placeholder="Nombre *"
                  type="name"
                  id="name"
                  formControlName="name"
                  [ngClass]="{ 
                    'is-invalid': submitted && rForm.controls.name.errors
                  }"
                />
                <mat-error *ngIf="loginForm.controls.name.errors">
                  Corrige el error en Nombre
                </mat-error>
              </mat-form-field>-->
              <mat-form-field>
                <input matInput placeholder="Fecha de nacimiento" value="{{ user.birthdate }}">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Tel&eacute;fono" value="{{ user.phone }}">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="NIF/NIE" value="{{ user.documentNumber }}">
              </mat-form-field>    
              <mat-form-field>
                <input matInput placeholder="Permisos de conducir" value="{{ user.license }}">
              </mat-form-field>   
            </div>
            <div fxFlex fxLayout="column" fxFlex="35%" fxLayoutAlign="center start">
              <mat-form-field>
                <input matInput placeholder="Direcci&oacute;n" value="{{ user.address.street }}">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Municipio" value="{{ user.address.municipe.name }}">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Provincia" value="{{ user.address.province.name }}">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Acerca de mi...">{{ user.aboutMe }}</textarea>
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Otras competencias">{{ user.otherCompetences }}</textarea>
              </mat-form-field>    
            </div>
          </div>
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="center center">
              <!--<a mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/account']"><mat-icon>save</mat-icon>Guardar</a>-->
              <!--<button class="btn btn-primary" type="submit" [disabled]="rForm.invalid"></button>-->
              <button type="submit" mat-raised-button color="primary" [disabled]="rForm.invalid"><mat-icon>save</mat-icon>Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>


<!--<form [formGroup]="rForm" (submit)="save()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      class="col-sm-10 form-control"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="birthdate">surname</label>
    <input
      type="text"
      name="surname"
      class="col-sm-10 form-control"
      formControlName="surname"
    />
  </div>
  <div class="form-group">
    <label for="birthdate">birthdate</label>
    <input
      type="text"
      name="birthdate"
      class="col-sm-10 form-control"
      formControlName="birthdate"
    />
  </div>
  <div class="form-group">
    <label for="phone">phone</label>
    <input
      type="text"
      name="phone"
      class="col-sm-10 form-control"
      formControlName="phone"
    />
  </div>
  <div class="form-group">
    <label for="phone2">phone2</label>
    <input
      type="text"
      name="phone2"
      class="col-sm-10 form-control"
      formControlName="phone2"
    />
  </div>
  <div class="form-group">
    <label for="level">Tipo de documento</label>
    <select
      [compareWith]="compareByUID"
      class="col-sm-10 form-control"
      name="documentType"
      formControlName="documentType"
    >
      <option
        [ngValue]="documentType"
        *ngFor="let documentType of documentsType"
      >
        {{ documentType.name }}</option
      >
    </select>
  </div>
  <div class="form-group">
    <label for="documentNumber">documentNumber</label>
    <input
      type="text"
      name="documentNumber"
      class="col-sm-10 form-control"
      formControlName="documentNumber"
    />
  </div>
  <div class="form-group">
    <label for="street">Calle</label>
    <input
      type="text"
      name="street"
      class="col-sm-10 form-control"
      formControlName="street"
    />
  </div>
  <div class="form-group">
    <label for="level">Provincia</label>
    <select
      [compareWith]="compareByUID"
      class="col-sm-10 form-control"
      name="province"
      formControlName="province"
    >
      <option [ngValue]="province" *ngFor="let province of provinces">
        {{ province.name }}</option
      >
    </select>
  </div>
  <div class="form-group">
    <label for="level">Municipio</label>
    <select
      [compareWith]="compareByUID"
      class="col-sm-10 form-control"
      name="municipe"
      formControlName="municipe"
    >
      <option [ngValue]="municipe" *ngFor="let municipe of municipes">
        {{ municipe.name }}</option
      >
    </select>
  </div>

  <div class="form-group">
    <label for="aboutMe">Acerca de mi</label>
    <textarea
      name="aboutMe"
      class="col-sm-10 form-control"
      formControlName="aboutMe"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="otherCompetences">Otras competencias</label>
    <textarea
      name="otherCompetences"
      class="col-sm-10 form-control"
      formControlName="otherCompetences"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="license">Licencias</label>
    <textarea
      name="license"
      class="col-sm-10 form-control"
      formControlName="license"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
-->
