<form [formGroup]="rForm" (submit)="submit()">
  <mat-form-field>
    <input
      matInput
      placeholder="Centro educativo *"
      id="institution"
      formControlName="institution"
    />
    <mat-error *ngIf="rForm.controls.institution.errors">
      Corrige el error en Centro educativo
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="T&iacute;tulo *"
      id="title"
      formControlName="title"
    />
    <mat-error *ngIf="rForm.controls.title.errors">
      Corrige el error en T&iacute;tulo
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Fecha de obtención del t&iacute;tulo *"
      id="date"
      formControlName="date"
    />
    <mat-error *ngIf="rForm.controls.date.errors">
      Corrige el error en Fecha de obtención del t&iacute;tulo
    </mat-error>
  </mat-form-field>

  <mat-checkbox
    formControlName="bilingue">Bilingüe
  </mat-checkbox>
  <div fxLayout="row wrap">
    <div fxFlex fxLayoutAlign="center center">
      <button type="submit" mat-raised-button color="primary" [disabled]="rForm.invalid"><mat-icon>save</mat-icon>Guardar</button>
    </div>
  </div>

</form>
