<h1 class="d-flex justify-content-center">Profile (Estudiante) - Datos Personales</h1>
<div class="row mx-2">
  <div class="col-sm-2">
    <div class="d-flex justify-content-center">
      <img src="{{ user.avatar_hash }}" class="avatar"/>
    </div>
    <div>
        <span class="d-flex justify-content-center">{{ user.email }}</span>
    </div>
  </div>
  <div class="col-sm-10">
    <form [formGroup]="profileAccountForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" id="name" formControlName="name" autofocus>
            <div *ngIf="profileAccountForm.controls['name'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["name"].errors | json }}          
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label for="surname">Apellidos</label>
            <input type="text" class="form-control" name="surname" id="surname" formControlName="surname">
            <div *ngIf="profileAccountForm.controls['surname'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["surname"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="birthdate">Fecha de nacimiento</label>
            <input type="text" class="form-control" name="birthdate" id="birthdate" formControlName="birthdate">
            <div *ngIf="profileAccountForm.controls['birthdate'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["birthdate"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="phone">Tel&eacute;fono de contacto</label>
            <input type="text" class="form-control" name="phone" id="phone" formControlName="phone">
            <div *ngIf="profileAccountForm.controls['phone'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["phone"].errors | json }}          
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label for="phone2">Tel&eacute;fono de contacto alternativo</label>
            <input type="text" class="form-control" name="phone2" id="phone2" formControlName="phone2">
            <div *ngIf="profileAccountForm.controls['phone2'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["phone2"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="documentType">NIF/NIE</label>
            <select class="form-control" name="documentType" id="documentType" formControlName="documentType" (change)="documentTypeOnChange($event)">
                <option *ngFor="let documentType of documentTypes" [value]="documentType.uid">
                  {{ documentType.name }}
                </option>
            </select>
            <div *ngIf="profileAccountForm.controls['documentType'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["documentType"].errors | json }}          
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label for="documentNumber">N&uacute;mero</label>
            <input type="text" class="form-control" name="documentNumber" id="documentNumber" formControlName="documentNumber">
            <div *ngIf="profileAccountForm.controls['documentNumber'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["documentNumber"].errors | json }}          
            </div>
          </div>
        </div>
      </div>      
      <div class="row">
        <div class="col-sm-10">
          <div class="form-group">
            <label for="street">Direcci&oacute;n</label>
            <input type="text" class="form-control" name="street" id="street" formControlName="street">
            <div *ngIf="profileAccountForm.controls['street'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["street"].errors | json }}          
            </div>            
          </div>
        </div>
      </div>  
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="province">Provincia</label>
            <select class="form-control" name="province" id="province" formControlName="province" (change)="provinceOnChange($event)">
              <option *ngFor="let province of provinces" [value]="province.uid">
                {{ province.name }}
              </option>
            </select>
            <div *ngIf="profileAccountForm.controls['province'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["province"].errors | json }}          
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <label for="municipe">Municipio</label>
            <select class="form-control" name="municipe" id="municipe" formControlName="municipe" (change)="municipeOnChange($event)">
              <option *ngFor="let municipe of municipes" [value]="municipe.uid">
                {{ municipe.name }}
              </option>
            </select>
            <div *ngIf="profileAccountForm.controls['municipe'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["municipe"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="form-group">
            <label for="license">Permisos de conducir</label>
            <input type="text" class="form-control" name="license" id="license" formControlName="license">
            <div *ngIf="profileAccountForm.controls['license'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["license"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="form-group">
            <label for="aboutMe">Sobre m&iacute;</label>
            <textarea class="form-control" name="aboutMe" id="aboutMe" formControlName="aboutMe"></textarea>
            <div *ngIf="profileAccountForm.controls['aboutMe'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["aboutMe"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="form-group">
            <label for="otherCompetences">Otras competencias</label>
            <textarea class="form-control" name="otherCompetences" id="otherCompetences" formControlName="otherCompetences"></textarea>
            <div *ngIf="profileAccountForm.controls['otherCompetences'].invalid" class="alert alert-danger">
              {{ profileAccountForm.controls["otherCompetencess"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10">
          <div class="d-flex justify-content-end">
            <button type="submit" [disabled]="profileAccountForm.invalid" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>      
    </form>
  </div>
</div>