<h1 class="d-flex justify-content-center">Profile (Estudiante) - Gestión de Formaci&oacute;n Acad&eacute;mica</h1>
  <div class="col-sm-6 offset-sm-3">
    <form [formGroup]="studiesManagementForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="level">Tipo de t&iacute;tulo</label>
            <select class="form-control" name="level" id="level" formControlName="level" (change)="levelOnChange($event)">
              <option value="1">Ciclo Formativo</option>
              <option value="2">Título Universitario</option>
              <option value="3">Otro Título</option>
            </select>
            <!--<div *ngIf="studiesManagementForm.controls['level'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["level"].errors | json }}          
            </div>-->
          </div>
        </div>
      </div>      
      <div class="row" *ngIf="level === 'Título Universitario'">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="institution">Nombre de centro</label>
            <input type="text" class="form-control" name="institution" id="institution" formControlName="institution">
            <!--<div *ngIf="studiesManagementForm.controls['institution'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["institution"].errors | json }}          
            </div>-->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="uTitle">T&iacute;tulo</label>
            <input type="text" class="form-control" name="uTitle" id="uTitle" formControlName="uTitle">
            <!--<div *ngIf="studiesManagementForm.controls['uTitle'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["uTitle"].errors | json }}          
            </div>-->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="uDate">Fecha del t&iacute;tulo</label>
            <input type="text" class="form-control" name="uDate" id="uDate" formControlName="uDate">
            <!--<div *ngIf="studiesManagementForm.controls['uDate'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["uDate"].errors | json }}          
            </div>-->
          </div>
        </div> 
        <div class="col-sm-6">
          <div class="form-group">
            <label for="uBilingual">Formaci&oacute;n bilingüe</label>
            <input type="checkbox" class="form-control" name="uBilingual" id="uBilingual" formControlName="uBilingual">
          </div>
        </div>  
        <div class="col-sm-6">
          <div class="form-group">
            <label for="certificate">Certificado</label>
            <input type="checkbox" class="form-control" name="certificate" id="certificate" formControlName="certificate">
          </div>
        </div>
      </div>
      <div class="row" *ngIf="level === 'Ciclo Formativo'">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="center">Centro educativo</label>
            <select class="form-control" name="center" id="center" formControlName="center" (change)="centerOnChange($event)">
              <option value="1">IES Belén</option>
              <option value="2">IES Politécnico Jesús Marin</option>
              <option value="3">IES Fuente Grande</option>
            </select>
            <!--<div *ngIf="studiesManagementForm.controls['center'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["center"].errors | json }}          
            </div>-->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="category">Familia profesional</label>
            <select class="form-control" name="category" id="category" formControlName="category" (change)="categoryOnChange($event)">
              <option value="1">Imagen y Sonido</option>
              <option value="2">Informática y Comunicaciones</option>
              <option value="3">Hostelería y Turismo</option>
            </select>
            <!--<div *ngIf="studiesManagementForm.controls['category'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["category"].errors | json }}          
            </div>-->
          </div>
        </div>  
        <div class="col-sm-6">
          <div class="form-group">
            <label for="grade">Grado</label>
            <select class="form-control" name="grade" id="grade" formControlName="grade" (change)="gradeOnChange($event)">
              <option value="1">FP Básica</option>
              <option value="2">Ciclo Formativo de Grado Medio</option>
              <option value="3">Ciclo Formativo de Grado Superior</option>
            </select>
            <!--<div *ngIf="studiesManagementForm.controls['grade'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["grade"].errors | json }}          
            </div>-->
          </div>
        </div>         
        <div class="col-sm-6">
          <div class="form-group">
            <label for="fpTitle">Grado</label>
            <select class="form-control" name="fpTitle" id="fpTitle" formControlName="fpTitle" (change)="fpTitleOnChange($event)">
              <option value="1">Técnico Superior en Desarrollo de Aplicaciones Web</option>
              <option value="2">Administracion de sistemas informaticos y redes</option>
              <option value="3">Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</option>
              <option value="4">Técnico en Sistemas Microinformáticos y Redes</option>
            </select>
            <!--<div *ngIf="studiesManagementForm.controls['fpTitle'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["fpTitle"].errors | json }}          
            </div>-->
          </div>
        </div>  
        <div class="col-sm-6">
          <div class="form-group">
            <label for="fpDate">Fecha de obtenci&oacute;n del t&iacute;tulo</label>
            <input type="text" class="form-control" name="uDate" id="uDate" formControlName="uDate">
            <!--<div *ngIf="studiesManagementForm.controls['uDate'].invalid" class="alert alert-danger">
              {{ studiesManagementForm.controls["uDate"].errors | json }}          
            </div>-->
          </div>
        </div> 
        <div class="col-sm-6">
          <div class="form-group">
            <label for="dual">Formaci&oacute;n dual</label>
            <input type="checkbox" class="form-control" name="dual" id="dual" formControlName="dual">
          </div>
        </div>  
        <div class="col-sm-6">
          <div class="form-group">
            <label for="fpBilingual">Formaci&oacute;n bilingüe</label>
            <input type="checkbox" class="form-control" name="fpBilingual" id="fpBilingual" formControlName="fpBilingual">
          </div>
        </div>                        
      </div>
      <button type="submit" [disabled]="studiesManagementForm.invalid" class="btn btn-primary float-right">Guardar</button>
    </form>
  </div>