<h1 class="d-flex justify-content-center">Profile (Estudiante) - Gestión de Idiomas</h1>
  <div class="col-sm-6 offset-sm-3">
    <form [formGroup]="languagesManagementForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="languageName">Idioma</label>
            <select class="form-control" name="languageName" id="languageName" formControlName="languageName" (change)="languageNameOnChange($event)">
                <option *ngFor="let languageName of languageNames" [value]="languageName.uid">
                  {{ languageName.name }}
                </option>
                <option value="99">Otros</option>
            </select>
            <div *ngIf="languagesManagementForm.controls['languageName'].invalid" class="alert alert-danger">
              {{ languagesManagementForm.controls["languageName"].errors | json }}          
            </div>
            <div *ngIf="languageName === 'Otros'">
              <input type="text" class="form-control" name="other" id="other" formControlName="other">
            </div>
            <div *ngIf="languagesManagementForm.controls['other'].invalid" class="alert alert-danger">
              {{ languagesManagementForm.controls["other"].errors | json }}          
            </div>            
          </div>
        </div>
      </div>      
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="languageLevel">Nivel</label>
            <select class="form-control" name="languageLevel" id="languageLevel" formControlName="languageLevel" (change)="languageLevelOnChange($event)">
              <option *ngFor="let languageLevel of languageLevels" [value]="languageLevel.uid">
                {{ languageLevel.name }}
              </option>
            </select>
            <div *ngIf="languagesManagementForm.controls['languageLevel'].invalid" class="alert alert-danger">
              {{ languagesManagementForm.controls["languageLevel"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="date">Fecha de obtenci&oacute;n del t&iacute;tulo</label>
            <input type="text" class="form-control" name="date" id="date" formControlName="date">
            <div *ngIf="languagesManagementForm.controls['date'].invalid" class="alert alert-danger">
              {{ languagesManagementForm.controls["date"].errors | json }}          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="d-flex justify-content-end">
            <button type="submit" [disabled]="languagesManagementForm.invalid" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>      
    </form>
  </div>