<div class="form-wrapper" fxFlex="60%" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">My Offers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-table [dataSource]="offers" class="mat-elevation-z8">
          <ng-container matColumnDef="job">
              <mat-header-cell fxFlex="25%" *matHeaderCellDef> Puesto </mat-header-cell>
              <mat-cell  fxFlex="25%" *matCellDef="let offer"> {{offer.job.name}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="company">
              <mat-header-cell fxFlex="10%" *matHeaderCellDef> Empresa </mat-header-cell>
              <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.company.name}} </mat-cell>
          </ng-container>
      
      
          <ng-container matColumnDef="category">
              <mat-header-cell fxFlex="20%" *matHeaderCellDef> Familia </mat-header-cell>
              <mat-cell fxFlex="20%" *matCellDef="let offer"> {{offer.category.name}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="date">
              <mat-header-cell fxFlex="10%" *matHeaderCellDef> Fecha </mat-header-cell>
              <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.date}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="province">
              <mat-header-cell fxFlex="10%" *matHeaderCellDef> Provincia </mat-header-cell>
              <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.province.name}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="municipe">
              <mat-header-cell fxFlex="10%" *matHeaderCellDef> Municipio </mat-header-cell>
              <mat-cell fxFlex="10%" *matCellDef="let offer"> {{offer.municipe.name}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="actions">
              <mat-header-cell fxFlex *matHeaderCellDef></mat-header-cell>
              <mat-cell fxFlex fxLayoutAlign="end" *matCellDef="let offer">
                  <a [routerLink]="['/admin/offers/', offer.id]"><mat-icon>visibility</mat-icon></a>
              </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedOffersColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedOffersColumns;"></mat-row>
        </mat-table>




      </div>
    </mat-card-content>
  </mat-card>
</div>
<!--<h3>Mis Ofertas</h3>

<table class="table table-bordered table-striped">
  <thead class="thead-light">
    <tr>
      <th>Puesto</th>
      <th>Empresa</th>
      <th>Familia</th>
      <th>Fecha</th>
      <th>Provincia</th>
      <th>Municipio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let offer of offers">
      <td>{{ offer.job.name }}</td>
      <td>{{ offer.company.name }}</td>
      <td>{{ offer.category.name }}</td>
      <td>{{ offer.date }}</td>
      <td>{{ offer.province.name }}</td>
      <td>{{ offer.municipe.name }}</td>
      <td>
        <a style="cursor:pointer" [routerLink]="['/admin/offers/', offer.id]"
          >Ver Detalle</a
        >
      </td>
    </tr>
  </tbody>
</table>
-->