<div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Datos personales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex fxLayout="column" fxFlex="30%" fxLayoutAlign="center" class="student-avatar">
          <div *ngIf="user" id="contenido" fxFlex fxLayout="row" fxLayoutAlign="center">
            <div fxFlex fxLayout="row" fxLayoutAlign="center" class="student-avatar">
              <img
                class="student-avatar"
                src="{{ user.avatar_hash }}"
              />
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="center" class="student-avatar">
              {{ user.name + ' ' + user.surname }}
            </div>
          </div>
        </div>
        <div fxFlex fxLayout="column" fxFlex="35%" fxLayoutAlign="center start">
          <mat-form-field>
            <input matInput readonly placeholder="Email" value="{{ user.email }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Fecha de nacimiento" value="{{ user.birthdate }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Tel&eacute;fono" value="{{ user.phone }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="NIF/NIE" value="{{ user.documentNumber }}">
          </mat-form-field>    
          <mat-form-field>
            <input matInput readonly placeholder="Permisos de conducir" value="{{ user.license }}">
          </mat-form-field>   
        </div>
        <div fxFlex fxLayout="column" fxFlex="35%" fxLayoutAlign="center start">
          <mat-form-field>
            <input matInput readonly placeholder="Direcci&oacute;n" value="{{ user.address.street }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Municipio" value="{{ user.address.municipe.name }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Provincia" value="{{ user.address.province.name }}">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput readonly placeholder="Acerca de mi...">{{ user.aboutMe }}</textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput readonly placeholder="Otras competencias">{{ user.otherCompetences }}</textarea>
          </mat-form-field>    
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Formaci&oacute;n acad&eacute;mica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
  <section id="formacion_academica">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <th>Tipo</th>
        <th>Nivel</th>
        <th>T&iacute;tulo</th>
        <th>Centro</th>
        <th>Fecha</th>
        <th>Certificado</th>
        <th>Bilingüe</th>
        <th>Dual</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let study of user.studies; let i = index">
          <td>{{ study.level.name }}</td>
          <td>{{ study.grade?.name }}</td>

          <td>{{ study.title.name || study.title }}</td>
          <td>{{ study.institution.name || study.institution }}</td>
          <td>{{ study.date }}</td>
          <td>{{ study.certificate ? 'Sí' : 'No' }}</td>
          <td>{{ study.bilingue ? 'Sí' : 'No' }}</td>
          <td>{{ study.dual ? 'Sí' : 'No' }}</td>

          <td>
            <a
              [routerLink]="['/admin/profile/profile-student/study', study.uid]"
              >Editar</a
            >
            |
            <a style="cursor:pointer" (click)="deleteStudy(study.uid)"
              >Borrar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <a [routerLink]="['/admin/profile/profile-student/study']"
      >Nueva formación</a
    >
  </section>

  <h2>Idiomas</h2>
  <section id="languages">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <th>Nivel</th>
        <th>Idioma</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </thead>
      <tbody>
        <tr *ngFor="let language of user.languages">
          <td>{{ language.level.name }}</td>
          <td>{{ language.name.name }}</td>
          <td>{{ language.date }}</td>
          <td>
            <a
              [routerLink]="[
                '/admin/profile/profile-student/language',
                language.uid
              ]"
              >Editar</a
            >
            |
            <a style="cursor:pointer" (click)="deleteLanguage(language.uid)"
              >Borrar</a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <a [routerLink]="['/admin/profile/profile-student/language']"
      >Nuevo idioma</a
    >
  </section>
    </div>
      <div *ngIf="!user" id="contenido">
        <p>Datos están siendo cargados...</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>