<div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Datos personales</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex fxLayout="column" fxFlex="30%" fxLayoutAlign="center" class="student-avatar">
          <div *ngIf="user" id="contenido" fxFlex fxLayout="row" fxLayoutAlign="center">
            <div fxFlex fxLayout="row" fxLayoutAlign="center" class="student-avatar">
              <img
                class="student-avatar"
                src="{{ user.avatar_hash }}"
              />
            </div>
            <div fxFlex fxLayout="row" fxLayoutAlign="center" class="student-avatar">
              {{ user.name + ' ' + user.surname }}
            </div>
          </div>
        </div>
        <div fxFlex fxLayout="column" fxFlex="35%" fxLayoutAlign="center start">
          <mat-form-field>
            <input matInput readonly placeholder="Email" value="{{ user.email }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Fecha de nacimiento" value="{{ user.birthdate }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Tel&eacute;fono" value="{{ user.phone }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="NIF/NIE" value="{{ user.documentNumber }}">
          </mat-form-field>    
          <mat-form-field>
            <input matInput readonly placeholder="Permisos de conducir" value="{{ user.license }}">
          </mat-form-field>   
        </div>
        <div fxFlex fxLayout="column" fxFlex="35%" fxLayoutAlign="center start">
          <mat-form-field>
            <input matInput readonly placeholder="Direcci&oacute;n" value="{{ user.address.street }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Municipio" value="{{ user.address.municipe.name }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput readonly placeholder="Provincia" value="{{ user.address.province.name }}">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput readonly placeholder="Acerca de mi...">{{ user.aboutMe }}</textarea>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput readonly placeholder="Otras competencias">{{ user.otherCompetences }}</textarea>
          </mat-form-field>    
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
          <a mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/account']"><mat-icon>edit</mat-icon>Modificar</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Formaci&oacute;n acad&eacute;mica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <table mat-table [dataSource]="user.studies" class="mat-elevation-z8">
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{study.level.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef> Nivel </th>
            <td mat-cell *matCellDef="let element"> {{study.grade?.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> T&iacute;tulo </th>
            <td mat-cell *matCellDef="let element"> {{study.title.name || study.title}} </td>
          </ng-container>

          <ng-container matColumnDef="center">
            <th mat-header-cell *matHeaderCellDef> Centro </th>
            <td mat-cell *matCellDef="let element"> {{study.institution.name || study.institution}} </td>
          </ng-container>
        
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{study.date}} </td>
          </ng-container>

          <ng-container matColumnDef="certificate">
            <th mat-header-cell *matHeaderCellDef> Certificado </th>
            <td mat-cell *matCellDef="let element"> {{study.certificate ? 'Sí' : 'No'}} </td>
          </ng-container>

          <ng-container matColumnDef="biligual">
            <th mat-header-cell *matHeaderCellDef> Bilingüe </th>
            <td mat-cell *matCellDef="let element"> {{study.bilingue ? 'Sí' : 'No'}} </td>
          </ng-container>

          <ng-container matColumnDef="dual">
            <th mat-header-cell *matHeaderCellDef> Dual </th>
            <td mat-cell *matCellDef="let element"> {{study.dual ? 'Sí' : 'No'}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <a [routerLink]="['/admin/profile/profile-student/study', study.uid]">
                <mat-icon>edit</mat-icon>
              </a>              |
              <a style="cursor:pointer" (click)="deleteStudy(study.uid)">
                Borrar
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
          <a mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/study']"><mat-icon>edit</mat-icon>Nueva formaci&oacute;n</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title fxFlex fxLayoutAlign="start center">Idiomas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxFlex fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-table [dataSource]="user.languages" class="mat-elevation-z8">
          <ng-container matColumnDef="level">
            <mat-header-cell fxFlex="20%" *matHeaderCellDef> Nivel </mat-header-cell>
            <mat-cell fxFlex="20%" *matCellDef="let language"> {{language.level.name}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="language">
            <mat-header-cell fxFlex="40%" *matHeaderCellDef> Idioma </mat-header-cell>
            <mat-cell fxFlex="40%" *matCellDef="let language"> {{language.name.name}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="date">
            <mat-header-cell fxFlex *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell fxFlex *matCellDef="let language"> {{language.date}} </mat-cell>
          </ng-container>
    
          <ng-container matColumnDef="actions">
            <mat-header-cell fxFlex="70px" *matHeaderCellDef></mat-header-cell>
            <mat-cell fxFlex="70px" fxLayoutAlign="end" *matCellDef="let language">
              <a [routerLink]="['/admin/profile/profile-student/language',language.uid]">
                <mat-icon>edit</mat-icon>
              </a>
              <a style="cursor:pointer" (click)="deleteLanguage(language.uid)">
                <mat-icon>delete_outline</mat-icon>
              </a>
            </mat-cell>
          </ng-container>
    
          <mat-header-row *matHeaderRowDef="displayedLanguagesColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedLanguagesColumns;"></mat-row>
        </mat-table>
        <div fxFlex fxLayout="row" fxLayoutAlign="center">
            <a mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/language']">Nuevo idioma</a>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div *ngIf="!user" id="contenido">
    <p>Datos están siendo cargados...</p>
  </div>
</div>