<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <img src="/assets/img/uoc_logo.png" />
      <div class="login-title" fxLayoutAlign="start">
        <h2>Login</h2>
      </div>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div *ngIf="errorLogin" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">
            &times;
          </button>

          There is an error in email or password
        </div>

        <mat-form-field class='full-width'>
          <input
            matInput
            placeholder="Email *"
            type="text"
            id="email"
            formControlName="email"
            [ngClass]="{ 
              'is-invalid': submitted && loginForm.controls.email.errors
            }"
          />
        </mat-form-field>

        <mat-form-field class='full-width'>
          <input
            matInput
            placeholder="Password *"
            type="password"
            id="password"
            formControlName="password"
            [ngClass]="{
              'is-invalid': submitted && loginForm.controls.password.errors
            }"
          />
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="20px">
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid" fxLayoutAlign="start center">Login</button>
          <a routerLink="/forgot-password" fxLayoutAlign="end center">Remember password</a>
        </div>
    </form>
  </mat-card>
</div>
