<div>
  <img src="/assets/img/logoUOC.png" class="logo" />
  <div class="col-sm-4 offset-sm-4">
    <form [formGroup]="signinForm" (ngSubmit)="signin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" formControlName="email" autofocus>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" formControlName="password">    
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="signinForm.invalid" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary float-right">Remember Password</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">
        User not found. Please, check the input data.
      </div>
    </form>
  </div>
</div>