/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Login
.login-wrapper {
  height: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
}

.login-title {
  background-color: darkblue;
  color: white;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

.login-wrapper mat-form-field {
  width: 100%;
}

// Dashboard
mat-sidenav {
  padding: 10px 50px 0 10px;
  background-color: purple!important;
}

mat-sidenav a {
  text-decoration: none;
  color: white;
}

mat-icon {
  color: yellow;
  padding: 20px 10px 20px 0;
}

// Profile
.profile-wrapper mat-card {
  width: 100%;
  margin: 0 10px 0 10px;
}

.profile-wrapper mat-card-header {
  background-color: darkblue;
  color: white;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

.profile-title {
  width: 100%;
  background-color: darkblue;
  color: yellow;
  border-radius: 5px;
  margin: 10px;
}

// Profile student
.profile-wrapper mat-form-field {
  width: 90%;
}