/* You can add global styles to this file, and also import other style files */
@import 'styles-variables';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Login
.login-wrapper {
  height: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
}

.login-title {
  background-color: darkblue;
  color: white;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

.login-wrapper mat-form-field {
  width: 100%;
}

// Dashboard
mat-sidenav {
  padding: 10px 50px 0 10px;
  background-color: $sidenav-background-color!important;
}

mat-sidenav a {
  text-decoration: none;
  color: white;
}

mat-sidenav a:hover {
  color: $mat-sidenav-selected-color;
}

mat-sidenav mat-icon {
  color: $mat-sidenav-mat-icon-color;
  padding: 20px 10px 20px 0;
}

// Profile
.profile-wrapper {
  background-color: $wrapper-background-color;
}

mat-sidenav-content {
  background-color: $wrapper-background-color;
}

.profile-wrapper mat-card {
  width: 100%;
  margin: 0 10px 0 10px;
}

.profile-wrapper mat-card-header {
  background-color: $card-title-color;
  color: white;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

.menu-title {
  width: 100%;
  background-color: $card-title-color;
  color: yellow;
  border-radius: 5px;
  margin: 10px;
}

// Profile student
.profile-wrapper mat-form-field {
  width: 90%;
}

.student-avatar {
  display: block;
}

mat-table {
  width: 100%;
  margin-bottom: 10px;
}

mat-table mat-icon {
  color: blue;
}

mat-table mat-icon:hover {
  color: $card-title-color;
}

// Offers
.offers-wrapper {
  background-color: $wrapper-background-color;
}

.offers-wrapper mat-card {
  width: 100%;
  margin: 0 10px 0 10px;
}

.offers-wrapper mat-card-header {
  background-color: $card-title-color;
  color: white;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}